{% extends "StoreBackendBundle::layout.html.twig" %}


{% block javascripts %}
    {{ parent() }}
    <script src="http://autobahn.s3.amazonaws.com/js/autobahn.min.js"></script>
    <script>
        var conn = new ab.Session('ws://localhost:8080',
                function() {
                    conn.subscribe('kittensCategory', function(topic, data) {
                        // This is where you would add the new article to the DOM (beyond the scope of this tutorial)
                        console.log('New article published to category "' + topic + '" : ' + data.title);
                    });
                },
                function() {
                    console.warn('WebSocket connection closed');
                },
                {'skipSubprotocolCheck': true}
        );

       // send("non!");

        function send(message) {
            waitForSocketConnection(conn, function() {
                conn.send(message);
            });
        };


        function waitForSocketConnection(socket, callback){
            setTimeout(
                function(){
                    if (socket.readyState === 1) {
                        if(callback !== undefined){
                            callback();
                        }
                        return;
                    } else {
                        waitForSocketConnection(socket,callback);
                    }
                }, 5);
        };


    </script>
{% endblock  %}
{% block titlepage %}
    <i class="fa  fa-bookmark"></i> Liste de mes bijoux dans ma boutique
{% endblock  %}

{% block content %}

    <script>
        init.push(function () {
                $('#jq-datatables-example').dataTable({
                    "aoColumnDefs": [
                        { 'bSortable': false, 'aTargets': [ 0,5,6,7,8,9,10,11 ] }
                    ]
                });
            $('#jq-datatables-example_wrapper .table-caption').text('Toutes vos bijoux');
            $('#jq-datatables-example_wrapper .dataTables_filter input').attr('placeholder', 'Rechercher...');
        });
    </script>


    <div class="row">
        <div class="alert alert-info alert-dark">
                {# Me compte la liste de mes produits #}
                <strong>{{ products|length }}</strong>   bijoux dans votre boutique
            </div>
    </div>

    <div class="row">
        <a href="{{ path('store_backend_product_new') }}" class=" pull-right btn btn-success btn-lg">
            <i class="fa fa-plus"></i> Ajouter un bijou
        </a>
    </div>

    {% if products is not empty %}
    <br />
    <table id="jq-datatables-example" class="table table-bordered table-primary">
        <thead>
            {#  1er argument, le tableau de produits,
            le 2eme argument le label de la colonne
            le 3eme arguement la colonne sur lequele le tri va s'effectué
            #}
            <th>Id</th>
            <th>Référence</th>
            <th>Titre</th>
            <th>Prix</th>
            <th>Quantité</th>
            <th>Actif</th>
            <th>Page d'Acceuil</th>
            <th>Catégories</th>
            <th>Pages CMS</th>
            <th>Fournisseurs</th>
            <th><i class="fa fa-plus"></i> Images</th>
            <th>Actions</th>
        </thead>
        <tbody>

            {% for product in products %}
                <tr>
                    <td><a href="">{{ product.id }}</a></td>
                    <td>{{ product.ref }}</td>
                    <td><a href="{{ path('store_backend_product_view', {'name' : product.title , 'id': product.id } ) }}"> {{ product.title }}</a></td>
                    <td><strong>{{ product.price }}€</strong></td>
                    <td>{{ product.quantity }} <i class="fa fa-bars"></i> </td>
                    <td>
                    {% if product.active == 1 %}
                        <a href="{{ path('store_backend_product_activate', {'id': product.id, 'action' : 0}) }}" >
                            <i class="fa fa-check"></i>
                        </a>
                    {% else %}
                        <a href="{{ path('store_backend_product_activate', {'id': product.id, 'action' : 1}) }}" >
                            <i class="fa fa-times"></i>
                        </a>
                    {% endif %}
                    </td>
                    <td>
                        {% if product.cover == 1 %}
                            <a href="{{ path('store_backend_product_cover', {'id': product.id, 'action' : 0}) }}" >
                                <i class="fa fa-star"></i>
                            </a>
                        {% else %}
                            <a href="{{ path('store_backend_product_cover', {'id': product.id, 'action' : 1}) }}" >
                                <i class="fa fa-star-o"></i>
                            </a>
                        {% endif %}
                    </td>
                    <td><span class="badge badge-info">{{ product.category|length }}</span> catégories</td>
                    <td><span class="badge badge-info">{{ product.cms|length }}</span> pages cms</td>
                    <td><span class="badge badge-info">{{ product.supplier|length }}</span> fournisseurs</td>
                    <td>
                        <a href=""><i class="fa fa-picture-o"></i> Gérer les photos</a>
                    </td>
                    <td>
                        <div class="btn-group">
                            <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown"><i class="fa fa-cogs"></i> Actions&nbsp;<i class="fa fa-caret-down"></i></button>
                            <ul class="dropdown-menu">
                                <li><a href="#"><i class="fa fa-search"></i> Voir</a></li>
                                <li><a href="{{ path('store_backend_product_edit', {'id' : product.id}) }}"><i class="fa fa-pencil"></i> Editer</a></li>
                                <li><a href="{{ path('store_backend_product_remove', {'id': product.id}) }}"><i class="fa fa-times"></i> Supprimer</a></li>
                            </ul>
                        </div>
                    </td>
                </tr>
            {% endfor %}

        </tbody>
    </table>

        {% else %}
        <div class="alert alert-danger alert-dark">
            <strong>Attention</strong> Aucun résultat trouvé
        </div>
        {% endif %}

{% endblock %}