{% extends "StoreBackendBundle::layout.html.twig" %}


{% block titlepage %}
    <i class="fa  fa-bookmark"></i> Liste de mes produits
{% endblock  %}

{% block content %}

    <div class="row">
        <a href="{{ path('store_backend_product_new') }}" class=" pull-right btn btn-primary btn-lg">
            <i class="fa fa-plus"></i> Ajouter un produit
        </a>
    </div>
    <hr />

    <table class="table table-bordered table-primary">
        <thead>
            <th>Id</th>
            <th>Référence</th>
            <th>Titre</th>
            <th>Prix</th>
            <th>Quantité</th>
            <th>Actif</th>
            <th>Page d'Acceuil</th>
            <th>Pages CMS</th>
            <th>Fournisseurs</th>
            <th>Actions</th>
        </thead>
        <tbody>

            {% for product in products %}
                <tr>
                    <td><a href="">{{ product.id }}</a></td>
                    <td>{{ product.ref }}</td>
                    <td><a href="{{ path('store_backend_product_view', {'name' : product.title , 'id': product.id } ) }}"> {{ product.title }}</a></td>
                    <td><strong>{{ product.price }}€</strong></td>
                    <td>{{ product.quantity }}</td>
                    <td>
                    {% if product.active == 1 %}
                        <a href="{{ path('store_backend_product_activate', {'id': product.id, 'action' : 0}) }}" >
                            <i class="fa fa-check"></i>
                        </a>
                    {% else %}
                        <a href="{{ path('store_backend_product_activate', {'id': product.id, 'action' : 1}) }}" >
                            <i class="fa fa-times"></i>
                        </a>
                    {% endif %}
                    </td>
                    <td>
                        {% if product.cover == 1 %}
                            <a href="{{ path('store_backend_product_cover', {'id': product.id, 'action' : 0}) }}" >
                                <i class="fa fa-star"></i>
                            </a>
                        {% else %}
                            <a href="{{ path('store_backend_product_cover', {'id': product.id, 'action' : 1}) }}" >
                                <i class="fa fa-star-o"></i>
                            </a>
                        {% endif %}
                    </td>                    <td><span class="badge badge-info">{{ product.cms|length }}</span> pages cms</td>
                    <td><span class="badge badge-info">{{ product.supplier|length }}</span> fournisseurs</td>
                    <td>
                        <div class="btn-group">
                            <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown"><i class="fa fa-cogs"></i> Actions&nbsp;<i class="fa fa-caret-down"></i></button>
                            <ul class="dropdown-menu">
                                <li><a href="#"><i class="fa fa-search"></i> Voir</a></li>
                                <li><a href="{{ path('store_backend_product_edit', {'id' : product.id}) }}"><i class="fa fa-pencil"></i> Editer</a></li>
                                <li><a href="{{ path('store_backend_product_remove', {'id': product.id}) }}"><i class="fa fa-times"></i> Supprimer</a></li>
                            </ul>
                        </div>
                    </td>
                </tr>
            {% endfor %}

        </tbody>
    </table>

{% endblock %}