{% extends "StoreBackendBundle::layout.html.twig" %}


{% block titlepage %}
    <i class="fa fa-dashboard"></i> Dashboard
{% endblock  %}

{% block javascripts %}
   {{ parent() }}
    <!-- Google Maps -->
    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false"></script>
{% endblock  %}

{% block content %}


    {% if nbprodempty.nb > 0 %}
        <div class="row">
            <div class="alert alert-warning"><i class="fa fa-warning"></i> <strong>{{ nbprodempty.nb }}</strong> produits sont en rupture de stock</div>
        </div>
    {% endif %}

    <div class="row">
    <div class="col-md-9">

        <!-- 5. $ORDER CHART =============================================================================

                        ORDER CHART
        -->
        <!-- Javascript -->
        <script>
            init.push(function () {
                var uploads_data = [
                    {% for stat in statorder %}
                        { period: '{{ stat.d }}', v: {{ stat.nb|default(0) }} },
                    {% endfor %}
                ];
                Morris.Line({
                    element: 'hero-graph',
                    data: uploads_data,
                    xkey: 'period',
                    ykeys: ['v'],
                    labels: ['Nb. de commande'],
                    lineColors: ['#fff'],
                    lineWidth: 2,
                    pointSize: 3,
                    gridLineColor: 'rgba(255,255,255,.8)',
                    resize: true,
                    gridTextColor: '#fff',
                    xLabels: "period"

                });
            });
        </script>
        <!-- / Javascript -->



        <div class="stat-panel">
            <div class="stat-row">
                <!-- Small horizontal padding, bordered, without right border, top aligned text -->
                <div class="stat-cell col-sm-3 padding-sm-hr bordered no-border-r valign-top">
                    <!-- Small padding, without top padding, extra small horizontal padding -->
                    <h4 class="padding-sm no-padding-t padding-xs-hr"><i class="fa fa-bar-chart-o text-primary"></i>&nbsp;&nbsp;Vos chiffres</h4>
                    <!-- Without margin -->
                    <ul class="list-group no-margin">
                        <!-- Without left and right borders, extra small horizontal padding, without background, no border radius -->
                        <li class="list-group-item no-border-hr padding-xs-hr no-bg no-border-radius">
                            Bijoux <span class="label label-pa-purple pull-right">{{ nbprod.nb|default('0')  }} crées</span>
                        </li> <!-- / .list-group-item -->
                        <!-- Without left and right borders, extra small horizontal padding, without background -->
                        <li class="list-group-item no-border-hr padding-xs-hr no-bg">
                            Fournisseurs <span class="label label-danger pull-right">{{  nbcat.nb|default('0') }} utilisés</span>
                        </li>
                        <!-- Without left and right borders, extra small horizontal padding, without background -->
                        <li class="list-group-item no-border-hr padding-xs-hr no-bg">
                            Pages <span class="label label-danger pull-right">{{ nbcms.nb|default('0') }} écrites</span>
                        </li> <!-- / .list-group-item -->
                        <!-- Without left and right borders, without bottom border, extra small horizontal padding, without background -->
                        <li class="list-group-item no-border-hr no-border-b padding-xs-hr no-bg">
                            Commentaires <span class="label label-success pull-right">{{ nbcomm.nb|default('0') }} réagis</span>
                        </li> <!-- / .list-group-item -->
                    </ul>
                </div> <!-- /.stat-cell -->
                <!-- Primary background, small padding, vertically centered text -->
                <div class="stat-cell col-sm-9 bg-info padding-sm valign-middle">
                    <div id="hero-graph" class="graph" style="height: 230px;"></div>
                </div>
            </div>
        </div> <!-- /.stat-panel -->
        <!-- /5. $UPLOADS_CHART -->

        <!-- 6. $EASY_PIE_CHARTS ===========================================================================

                        Easy Pie charts
        -->
        <!-- Javascript -->
        <script>
            init.push(function () {
                // Easy Pie Charts
                var easyPieChartDefaults = {
                    animate: 2000,
                    scaleColor: false,
                    lineWidth: 6,
                    lineCap: 'square',
                    size: 90,
                    trackColor: '#e5e5e5'
                }
                $('#easy-pie-chart-1').easyPieChart($.extend({}, easyPieChartDefaults, {
                    barColor: PixelAdmin.settings.consts.COLORS[1]
                }));
                $('#easy-pie-chart-2').easyPieChart($.extend({}, easyPieChartDefaults, {
                    barColor: PixelAdmin.settings.consts.COLORS[1]
                }));
                $('#easy-pie-chart-3').easyPieChart($.extend({}, easyPieChartDefaults, {
                    barColor: PixelAdmin.settings.consts.COLORS[1]
                }));
            });
        </script>
        <!-- / Javascript -->

        <div class="row">
            <div class="col-xs-4">
                <!-- Centered text -->
                <div class="stat-panel text-center">
                    <div class="stat-row">
                        <!-- Dark gray background, small padding, extra small text, semibold text -->
                        <div class="stat-cell bg-dark-gray padding-sm text-xs text-semibold">
                            <i class="fa fa-globe"></i>&nbsp;&nbsp; Fiches complètes de bijoux
                        </div>
                    </div> <!-- /.stat-row -->
                    <div class="stat-row">
                        <!-- Bordered, without top border, without horizontal padding -->
                        <div class="stat-cell bordered no-border-t no-padding-hr">
                            <div class="pie-chart" data-percent="43" id="easy-pie-chart-1">
                                <div class="pie-chart-label">43 %</div>
                            </div>
                        </div>
                    </div> <!-- /.stat-row -->
                </div> <!-- /.stat-panel -->
            </div>
            <div class="col-xs-4">
                <div class="stat-panel text-center">
                    <div class="stat-row">
                        <!-- Dark gray background, small padding, extra small text, semibold text -->
                        <div class="stat-cell bg-dark-gray padding-sm text-xs text-semibold">
                            <i class="fa fa-flash"></i>&nbsp;&nbsp; Fiches référencées de bijoux
                        </div>
                    </div> <!-- /.stat-row -->
                    <div class="stat-row">
                        <!-- Bordered, without top border, without horizontal padding -->
                        <div class="stat-cell bordered no-border-t no-padding-hr">
                            <div class="pie-chart" data-percent="93" id="easy-pie-chart-2">
                                <div class="pie-chart-label">93%</div>
                            </div>
                        </div>
                    </div> <!-- /.stat-row -->
                </div> <!-- /.stat-panel -->
            </div>
            <div class="col-xs-4">
                <div class="stat-panel text-center">
                    <div class="stat-row">
                        <!-- Dark gray background, small padding, extra small text, semibold text -->
                        <div class="stat-cell bg-dark-gray padding-sm text-xs text-semibold">
                            <i class="fa fa-cloud"></i>&nbsp;&nbsp; Bijoux lié à une page CMS
                        </div>
                    </div> <!-- /.stat-row -->
                    <div class="stat-row">
                        <!-- Bordered, without top border, without horizontal padding -->
                        <div class="stat-cell bordered no-border-t no-padding-hr">
                            <div class="pie-chart" data-percent="75" id="easy-pie-chart-3">
                                <div class="pie-chart-label">75 %</div>
                            </div>
                        </div>
                    </div> <!-- /.stat-row -->
                </div> <!-- /.stat-panel -->
            </div>
        </div>
    </div>
    <!-- /6. $EASY_PIE_CHARTS -->

    <div class="col-md-3">
        <div class="row">

            <!-- 7. $EARNED_TODAY_STAT_PANEL ===================================================================

                                Earned today stat panel
            -->
            <div class="col-sm-4 col-md-12">
                <div class="stat-panel">
                    <!-- Danger background, vertically centered text -->
                    <div class="stat-cell bg-danger valign-middle">
                        <!-- Stat panel bg icon -->
                        <i class="fa fa-trophy bg-icon"></i>
                        <!-- Extra large text -->
                        <span class="text-xlg"><strong>{{ ca|default(0) }} €</strong></span><br>
                        <!-- Big text -->
                        <span class="text-bg">Chiffre d'affaire</span><br>
                        <!-- Small text -->
                        {#<span class="text-sm"><a href="#">Depuis votre inscription <i>({{ app.user.dateCreated|date("d/m/Y") }})</i></a></span>#}
                        <span class="text-sm"><a href="#">Depuis votre inscription <i></i></a></span>
                    </div> <!-- /.stat-cell -->
                </div> <!-- /.stat-panel -->
            </div>
            <!-- /7. $EARNED_TODAY_STAT_PANEL -->


            <!-- 8. $RETWEETS_GRAPH_STAT_PANEL =================================================================

                                Retweets graph stat panel
            -->
            <div class="col-sm-4 col-md-12">
                <div class="stat-panel">
                    <!-- Success background, bordered, without top and bottom borders, without left border, without padding, vertically and horizontally centered text, large text -->
                    <a href="#" class="stat-cell col-xs-5 bg-warning bordered no-border-vr no-border-l no-padding valign-middle text-center text-lg">
                        <i class="fa fa-comments"></i>&nbsp;&nbsp;<strong>{{ nbcomm.nb|default('0') }}</strong>
                    </a> <!-- /.stat-cell -->
                    <!-- Without padding, extra small text -->
                    <div class="stat-cell col-xs-7 no-padding valign-middle">
                        <!-- Add parent div.stat-rows if you want build nested rows -->
                        <div class="stat-rows">
                            <div class="stat-row">
                                <!-- Success background, small padding, vertically aligned text -->
                                <a href="#" class="stat-cell bg-warning padding-sm valign-middle">
                                    {{ lastcommentsactifs|length }} Actifs
                                    <i class="fa fa-check pull-right"></i>
                                </a>
                            </div>
                            <div class="stat-row">
                                <!-- Success darken background, small padding, vertically aligned text -->
                                <a href="#" class="stat-cell bg-warning darken padding-sm valign-middle">
                                    {{ lastcommentsencours|length }} En cours
                                    <i class="fa fa-dashboard pull-right"></i>
                                </a>
                            </div>
                            <div class="stat-row">
                                <!-- Success darker background, small padding, vertically aligned text -->
                                <a href="#" class="stat-cell bg-warning darker padding-sm valign-middle">
                                    {{ lastcommentsinactifs|length }} Inactifs
                                    <i class="fa fa-times pull-right"></i>
                                </a>
                            </div>
                        </div> <!-- /.stat-rows -->
                    </div> <!-- /.stat-cell -->
                </div>


            </div>
            <!-- /8. $RETWEETS_GRAPH_STAT_PANEL -->

            <!-- 9. $UNIQUE_VISITORS_STAT_PANEL ================================================================

                                Unique visitors stat panel
            -->
            <div class="col-sm-4 col-md-12">
                    <div class="stat-panel">
                        <!-- Danger background, vertically centered text -->
                        <div class="stat-cell bg-success valign-middle">
                            <!-- Stat panel bg icon -->
                            <i class="fa fa-heart bg-icon"></i>
                            <!-- Extra large text -->
                            <span class="text-xlg"><strong>{{  nblikes.nb|default('0') }}</strong></span><br>
                            <!-- Big text -->
                            <span class="text-bg">Likes</span><br>
                            <!-- Small text -->
                            <span class="text-sm"><a href="#">Sur tous vos bijoux</a></span>
                        </div> <!-- /.stat-cell -->
                </div>
            </div>
        </div>
    </div>
    </div>



    <div class="row">

    <script>
        init.push(function () {
            $('#comment .panel-body > div').slimScroll({ height: 300, alwaysVisible: true, color: '#888',allowPageScroll: true });
        })
    </script>
    <div class="col-md-6">


    <div class="panel panel-info panel-dark" id="comment">
    <div class="panel-heading">
        <span class="panel-title"><i class="panel-title-icon fa fa-comment "></i>5 Derniers Commentaires</span>
        <ul class="nav nav-tabs nav-tabs-xs">
            <li class="active">
                <a href="#actifs-comments" data-toggle="tab">Actifs</a>
            </li>
            <li>
                <a href="#encours-comments" data-toggle="tab">En cours</a>
            </li>
            <li>
                <a href="#inactifs-comments" data-toggle="tab">Inactifs</a>
            </li>
        </ul>
    </div> <!-- / .panel-heading -->
    <div class="tab-content">

    <!-- Comments widget -->

    <!-- Without padding -->
    <div class="widget-comments panel-body tab-pane no-padding fade active in" id="actifs-comments">
        <!-- Panel padding, without vertical padding -->
            <div class="panel-padding no-padding-vr" style="overflow: hidden; width: auto; height: 300px;">
                {% for comm in lastcommentsactifs %}
                <div class="comment">
                    <div class="comment-body">
                        <div class="comment-by">
                            <a href="#" title="">{{ comm.user.firstname }} {{ comm.user.lastname }}</a> a commenté sur <a href="#" title="">{{ comm.product.title }}</a>  le {{ comm.dateCreated|date('d/m/Y') }} à {{ comm.dateCreated|date('H:i') }}
                        </div>
                        <div class="comment-text">
                            {{ comm.content }}
                        </div>
                    </div> <!-- / .comment-body -->
                </div> <!-- / .comment -->
                {% else %}
                    <div class="alert alert-warning alert-dark">
                        Aucun commentaire actif pour le moment
                    </div>
                {% endfor %}

            </div>
        </div>
    <!-- Without padding -->
    <div class="widget-comments panel-body tab-pane no-padding fade  in" id="encours-comments">
        <!-- Panel padding, without vertical padding -->
            <div class="panel-padding no-padding-vr" style="overflow: hidden; width: auto; height: 300px;">
                {% for comm in lastcommentsencours %}
                <div class="comment">
                    <div class="comment-body">
                        <div class="comment-by">
                            <a href="#" title="">{{ comm.user.firstname }} {{ comm.user.lastname }}</a> a commenté sur <a href="#" title="">{{ comm.product.title }}</a>  le {{ comm.dateCreated|date('d/m/Y') }} à {{ comm.dateCreated|date('H:i') }}
                        </div>
                        <div class="comment-text">
                            {{ comm.content }}
                        </div>
                    </div> <!-- / .comment-body -->
                </div> <!-- / .comment -->
                {% else %}
                    <div class="alert alert-warning alert-dark">
                        Aucun commentaire en cours de validation pour le moment
                    </div>
                {% endfor %}

            </div>
        </div>
        <!-- Without padding -->
        <div class="widget-comments panel-body tab-pane no-padding fade in" id="inactifs-comments">
            <!-- Panel padding, without vertical padding -->
            <div class="panel-padding no-padding-vr" style="overflow: hidden; width: auto; height: 300px;">
                {% for comm in lastcommentsinactifs %}
                    <div class="comment">
                        <div class="comment-body">
                            <div class="comment-by">
                                <a href="#" title="">
                                    {{ comm.user.firstname }} {{ comm.user.lastname }}</a> a commenté sur  <a href="#" title="">{{ comm.product.title }}</a> le {{ comm.dateCreated|date('d/m/Y') }} à {{ comm.dateCreated|date('H:i') }}
                            </div>
                            <div class="comment-text">
                                {{ comm.content }}
                            </div>
                        </div> <!-- / .comment-body -->
                    </div> <!-- / .comment -->
                {% else %}
                    <div class="alert alert-warning alert-dark">
                        Aucun commentaire inactif pour le moment
                    </div>
                {% endfor %}

            </div>
        </div>

    </div> <!-- / .panel-body -->
    </div>
    </div> <!-- / .widget-threads -->


    <div class="col-md-6">
        <div class="panel panel-info panel-dark widget-support-tickets" id="dashboard-support-tickets">
            <div class="panel-heading">
                <span class="panel-title"><i class="panel-title-icon fa fa-random"></i>5 Dernières commandes</span>
                <div class="panel-heading-controls">
                    <div class="panel-heading-text"><a href="#">15 commandes</a></div>
                </div>
            </div> <!-- / .panel-heading -->
            <div class="panel-body tab-content-padding">
                <!-- Panel padding, without vertical padding -->
                <div class="panel-padding no-padding-vr">

                            {% for order in orders %}
                                <div class="ticket">
                                    <span class="pull-right">{{ order.state|state|raw }}</span>
                                    <a href="#" title="" class="ticket-title">{{ order.address }}<span>[#{{ order.id }}]</span></a>
                                        <span class="ticket-info">
                                            Commandé par <a href="#" title="">{{ order.user.firstname }} {{ order.user.lastname }}</a> le {{ order.dateCreated|date('d/m/Y') }}
                                        </span>
                                </div> <!-- / .ticket -->
                            {% else %}
                                <div class="alert alert-dark alert-warning">
                                    Aucune commande pour le moment
                                </div>
                            {% endfor %}




                    </div>
                </div>
            </div> <!-- / .panel-body -->
        </div> <!-- / .panel -->


    <div class="row">

    <!-- 12. $NEW_USERS_TABLE ==========================================================================

                New users table
    -->
    <div class="col-md-6">
        <div class="panel panel-dark panel-info">
            <div class="panel-heading">
                <span class="panel-title"><i class="panel-title-icon fa fa-star"></i>5 Catégories populaires</span>
            </div> <!-- / .panel-heading -->
            {%  if bestcategories is not empty %}
                <table class="table">
                    <thead>
                    <tr>
                        <th>#</th>
                        <th>Nom</th>
                        <th>Nom de produits</th>
                        <th>Action</th>
                    </tr>
                    </thead>
                    <tbody class="valign-middle">
                    {% for category in bestcategories %}
                        <tr>
                            <td>{{ category.id }}</td>
                            <td>{{ category.title }}</td>
                            <td><i class="badge badge-info">{{ category.nb }}</i></td>
                            <td><a href="" class="btn btn-xs btn-rounded btn-danger">Voir la catégorie</a></td>
                        </tr>
                    {% endfor %}

                    </tbody>
                </table>
            {% else %}
                <div class="alert alert-dark alert-warning">
                    Aucune catégorie de crée
                </div>
            {% endif %}
        </div> <!-- / .panel -->
    </div>
    <!-- /12. $NEW_USERS_TABLE -->

    <!-- 13. $RECENT_TASKS =============================================================================

                Recent tasks
    -->
    <div class="col-md-6">
        <!-- Javascript -->
        <script>
            init.push(function () {
                $('.widget-tasks .panel-body').pixelTasks().sortable({
                    axis: "y",
                    handle: ".task-sort-icon",
                    stop: function( event, ui ) {
                        // IE doesn't register the blur when sorting
                        // so trigger focusout handlers to remove .ui-state-focus
                        ui.item.children( ".task-sort-icon" ).triggerHandler( "focusout" );
                    }
                });
                $('#clear-completed-tasks').click(function () {
                    $('.widget-tasks .panel-body').pixelTasks('clearCompletedTasks');
                });
            });
        </script>
        <!-- / Javascript -->

        <div class="panel widget-tasks panel-dark panel-info">
            <div class="panel-heading">
                <span class="panel-title"><i class="panel-title-icon fa fa-comments"></i>Messages récents</span>
                <div class="panel-heading-controls">
                </div>
            </div> <!-- / .panel-heading -->
            <!-- Without vertical padding -->
            <div class="panel-body no-padding-vr ui-sortable">

                {% for message in messages %}
                    <div class="task">
                        <span class="pull-right">{{ message.state|state|raw }}</span>
                        <div class="fa fa-arrows-v task-sort-icon"></div>
                        <div class="action-checkbox">
                            <label class="px-single"><span class="lbl"></span></label>
                        </div>
                        <a href="#" class="task-title">{{ message.title }}<span>{{ message.dateCreated|date('d/m/Y') }}</span></a>
                    </div> <!-- / .task -->
                {% else %}
                    <div class="alert alert-dark alert-warning">
                        Aucune message de crée
                    </div>
                {% endfor %}



            </div> <!-- / .panel-body -->
        </div> <!-- / .panel -->
    </div>
    <!-- /13. $RECENT_TASKS -->



    </div>


    </div>



    <div class="row">
        <div class="col-md-6">
        <div class="panel widget-followers panel-dark panel-info">
            <div class="panel-heading">
                <span class="panel-title"><i class="panel-title-icon fa fa-dollar"></i>Promotions & Réduction</span>
            </div> <!-- / .panel-heading -->
            <div class="panel-body">

                <div class="follower">
                    <div class="body">
                        <div class="follower-controls">
                            <a href="#" class="btn btn-sm btn-success"><i class="fa fa-check"></i><span>&nbsp;&nbsp;-20 %</span></a>
                        </div>
                        <a href="#" class="follower-name">ALYCIA Collier</a> <span class="badge badge-info">85.7€</span><br>
                        <a href="#" class="follower-username">Promotion</a>
                    </div>
                </div>
                <div class="follower">
                    <div class="body">
                        <div class="follower-controls">
                            <a href="#" class="btn btn-sm btn-info"><i class="fa fa-check"></i><span>&nbsp;&nbsp;-10€</span></a>
                        </div>
                        <a href="#" class="follower-name">ALYCIA Collier</a> <span class="badge badge-info">45.7€</span><br>
                        <a href="#" class="follower-username">Promotion</a>
                    </div>
                </div>
                <div class="follower">
                    <div class="body">
                        <div class="follower-controls">
                            <a href="#" class="btn btn-sm btn-success"><i class="fa fa-check"></i><span>&nbsp;&nbsp;-15%</span></a>
                        </div>
                        <a href="#" class="follower-name">ZOE Collier</a>  <span class="badge badge-info">14.7€</span><br>
                        <a href="#" class="follower-username">Réduction</a>
                    </div>
                </div>
                <div class="follower">
                    <div class="body">
                        <div class="follower-controls">
                            <a href="#" class="btn btn-sm btn-info"><i class="fa fa-check"></i><span>&nbsp;&nbsp;-15%</span></a>
                        </div>
                        <a href="#" class="follower-name">LAURA Collier élégant</a>  <span class="badge badge-info">12.7€</span><br>
                        <a href="#" class="follower-username">Promotion</a>
                    </div>
                </div>

            </div> <!-- / .panel-body -->
        </div>
        </div>
        <div class="col-md-6">
            <div class="panel panel-info panel-dark panel-body-colorful widget-profile widget-profile-centered">
                <div class="panel-heading">
                    <div class="widget-profile-header">
                        <span>Boutique de Julien</span><br>
                        <p>Tous les produits de la boutique de Julien</p>

                    </div>
                </div> <!-- / .panel-heading -->
                <div class="panel-body">
                    <div class="widget-profile-text" style="padding: 0;">
                        <p><i class="fa fa-phone"></i> 06 74 58 56 48</p>
                        <p><i class="fa fa-mail-forward"></i> julien@meetserious.com</p>
                        <a href="https://twitter.com/test">http://www.meetserious.com</a>
                        <p>26 Rue Emile Decorps</p>
                        <p>Lyon</p>
                        <p><i class="fa fa-link"></i><a href=""> http://fr.dawanda.com/shop/victoireandmatilda</a></p>
                        <p><i class="fa fa-link"></i><a href=""> http://www.alittlemarket.com/boutique/perea_bijoux-279514.html</a></p>
                    </div>
                </div>
            </div> <!-- / .panel -->
            <!-- /7. $PROFILE_WIDGET_CENTERED_EXAMPLE -->
        </div>
    </div>


    <div class="row">

        <script>
            init.push(function () {
                // Google Maps docs - https://developers.google.com/maps/documentation/javascript/examples/map-simple
                var map = new google.maps.Map(document.getElementById('widget-maps-example'), {
                    zoom: 12,
                    center: new google.maps.LatLng(45.764043, 4.835659),
                    mapTypeId: google.maps.MapTypeId.ROADMAP
                });

                var contentString = '<div id="content">'+
                        '<div id="siteNotice">'+
                        '</div>'+
                        '<h1 id="firstHeading" class="firstHeading">1er Commande</h1>'+
                        '<div id="bodyContent">'+
                        '<p><b>Uluru</b>, also referred to as <b>Ayers Rock</b>, is a large ' +
                        'sandstone rock formation in the southern part of the '+
                        'Northern Territory, central Australia. It lies 335&#160;km (208&#160;mi) '+
                        'south west of the nearest large town, Alice Springs; 450&#160;km '+
                        '(280&#160;mi) by road. Kata Tjuta and Uluru are the two major '+
                        'features of the Uluru - Kata Tjuta National Park. Uluru is '+
                        'sacred to the Pitjantjatjara and Yankunytjatjara, the '+
                        'Aboriginal people of the area. It has many springs, waterholes, '+
                        'rock caves and ancient paintings. Uluru is listed as a World '+
                        'Heritage Site.</p>'+
                        '<p>Attribution: Uluru, <a href="http://en.wikipedia.org/w/index.php?title=Uluru&oldid=297882194">'+
                        'http://en.wikipedia.org/w/index.php?title=Uluru</a> '+
                        '(last visited June 22, 2009).</p>'+
                        '</div>'+
                        '</div>';


                var infowindow = new google.maps.InfoWindow({
                    content: contentString
                });

                // To add the marker to the map, use the 'map' property
                var marker = new google.maps.Marker({
                    position: new google.maps.LatLng(45.764043, 4.835659),
                    map: map,
                    title:"Coucou 3WA!"
                });

                google.maps.event.addListener(marker, 'click', function() {
                    infowindow.open(map,marker);
                });

            });
        </script>

        <div class="panel">
            <div class="panel-heading">
                <span class="panel-title"><i class="panel-title-icon fa fa-map-marker"></i>Mes Commandes</span>
            </div> <!-- / .panel-heading -->
            <div class="panel-body" style="position:relative;height: 300px;">
                <div class="widget-maps" id="widget-maps-example"></div>
            </div> <!-- / .panel-body -->
        </div>
    </div>

{% endblock %}


