{% extends "StoreBackendBundle::layout.html.twig" %}

{% block classname %}theme-default main-menu-animated page-profile{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('assets/backend/stylesheets/pages.min.css') }}" rel="stylesheet" />
{% endblock %}


{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">
        init.push(function () {
            $("textarea").markdown({ iconlibrary: 'fa' });

            $('#meta_city').autocomplete({
                minLength: 4,
                source : function(requete, reponse){ // les deux arguments représentent les données nécessaires au plugin
                    $.ajax({
                        url : "{{ path('store_backend_ajax_city') }}", // on appelle le script JSON
                        dataType : 'json', // on spécifie bien que le type de données est en JSON
                        cache: true,
                        data : {
                            city : $('#meta_city').val() // on donne la chaîne de caractère tapée dans le champ de recherche
                        },

                        success : function(donnee){
                            reponse($.map(donnee, function(objet){
                                return objet;
                            }));
                        }
                    });
                }
            });


            $('#profile-tabs').tabdrop();
            $("#leave-comment-form").expandingInput({
                target: 'textarea',
                hidden_content: '> div',
                placeholder: 'Write message',
                onAfterExpand: function () {
                    $('#leave-comment-form textarea').attr('rows', '3').autosize();
                }
            });

            $('.editinline').editable({
                type: 'text'
            });

            $('#edit_avatar').click(function(e){
                e.preventDefault();
                var $modal  = $('#modal_edit_picture');
                $modal.find('> div').addClass('modal-dialog modal-sm animated flipInX');
                $modal.modal('show');
            });


            $("#dropzonejs-example").dropzone({
                url: "{{ path('store_backend_jeweler_mypicture') }}",
                paramName: "file", // The name that will be used to transfer the file
                maxFilesize: 0.5, // MB
                addRemoveLinks : true,
                dictResponseError: "Ne peux pas télécharger ce fichier!",
                autoProcessQueue: true,
                thumbnailWidth: 138,
                thumbnailHeight: 120,

                success: function(file, response) {
                    var $modal  = $('#modal_edit_picture');
                    $modal.modal('hide');
                    location.reload();
                },
                resize: function(file) {
                    var info = { srcX: 0, srcY: 0, srcWidth: file.width, srcHeight: file.height },
                            srcRatio = file.width / file.height;
                    if (file.height > this.options.thumbnailHeight || file.width > this.options.thumbnailWidth) {
                        info.trgHeight = this.options.thumbnailHeight;
                        info.trgWidth = info.trgHeight * srcRatio;
                        if (info.trgWidth > this.options.thumbnailWidth) {
                            info.trgWidth = this.options.thumbnailWidth;
                            info.trgHeight = info.trgWidth / srcRatio;
                        }
                    } else {
                        info.trgHeight = file.height;
                        info.trgWidth = file.width;
                    }
                    return info;
                }
            });


        });
    </script>

{% endblock %}





{% block titlepage %}
    <i class="fa fa-user"></i> Mon compte
{% endblock  %}

{% block content %}
    <div class="profile-full-name">
       <h1> Boutique de <span class="text-semibold">{{ app.user.title }}</span></h1>
    </div>


    <div class="profile-row">
    <div class="left-col">
        <div class="profile-block">
            {% if app.user.image is not empty %}
            <div class="panel profile-photo">
                <img src="{{ asset('uploads/profil/' ~ app.user.id ~ "/" ~ app.user.image) }}" alt="" class="">
            </div><br>
            {% endif %}
            <div class="row"><a href="" id="edit_avatar"><i class=" fa fa-pencil"></i> Editer ma photo</a></div><br>
            <div id="modal_edit_picture" class="modal fade" tabindex="-1" role="dialog" style="display: none;">
                <div>
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                            <h4 class="modal-title">Déposer votre image de présentation </h4>
                        </div>
                        <div class="modal-body">
                            <div id="dropzonejs-example" class="dropzone-box dz-clickable">
                                <div class="dz-default dz-message">
                                    Votre image ici
                                </div>
                            </div>
                        </div>
                    </div><!-- / .modal-content -->
                </div><!-- / .modal-dialog -->
            </div>

            <a href="#" class="btn btn-info"><i class="fa fa-heart"></i>&nbsp;&nbsp;{{  nblikes.nb|default('0') }}</a>&nbsp;&nbsp;
            <a href="#" class="btn btn-success"><i class="fa fa-random"></i>&nbsp;&nbsp;{{  nborders.nb|default('0') }}</a>&nbsp;&nbsp;
            <a href="#" class="btn btn-default"><i class="fa fa-truck"></i>&nbsp;&nbsp;{{  nbsuppliers.nb|default('0') }}</a>&nbsp;&nbsp;
        </div>

        <div class="panel panel-transparent">
            <div class="panel-heading">
                <span class="panel-title"><i class="fa fa-pencil"></i > Description</span>
            </div>
            <div class="panel-body editinline">
                {{ app.user.description|truncate(300, true) }}
            </div>

        <div class="panel panel-transparent">
            <div class="panel-heading">
                <span class="panel-title"><i class="fa fa-bar-chart-o"></i> Statistique</span>
            </div>
            <div class="list-group">
                <a href="#" class="list-group-item"><strong><span class="badge badge-info">{{ nbprod.nb|default('0')  }}</span></strong> Produits</a>
                <a href="#" class="list-group-item"><strong><span class="badge badge-info">{{ nbcms.nb|default('0')  }}</span></strong> Pages</a>
                <a href="#" class="list-group-item"><strong><span class="badge badge-info">{{ nbcomm.nb|default('0')  }}</span></strong> Commentaires</a>
            </div>
        </div>

        <div class="panel panel-transparent">
            <div class="panel-heading">
                <span class="panel-title">Coordonnées</span>
            </div>
            <div class="list-group">
                <p>{{ app.user.meta.address }}</p>
                <p>{{ app.user.meta.zipcode }} {{ app.user.meta.city }}</p>
                <p><i class="profile-list-icon fa fa-phone" style="color: #888"></i> {{ app.user.meta.phone }}</p>
                <p><i class="profile-list-icon fa fa-envelope" style="color: #888"></i> {{ app.user.email }}</p>
            </div>
        </div>

    </div>
    </div>
    <div class="right-col">

    <hr class="profile-content-hr no-grid-gutter-h">

    <div class="profile-content">

    <ul id="profile-tabs" class="nav nav-tabs">
        <li  class="active">
            <a href="#profile-tabs-following" data-toggle="tab"><span class="fa fa-star"></span> Mes informations</a>
        </li>
        <li>
            <a href="#profile-tabs-board" data-toggle="tab"><strong>{{ orders|length }}</strong> {{ "orders"|transchoice(orders|length) }}</a>
        </li>
        <li>
            <a href="#profile-tabs-activity" data-toggle="tab"><strong>{{ comments|length }}</strong> {{ "comments"|transchoice(comments|length) }}</a>
        </li>
        <li>
            <a href="#profile-tabs-followers" data-toggle="tab"><strong>{{ messages|length }}</strong> {{ "messages"|transchoice(messages|length) }}</a>
        </li>

    </ul>

    <div class="tab-content tab-content-bordered panel-padding">
    <div class="widget-article-comments tab-pane panel no-padding no-border fade" id="profile-tabs-board">

        {% for order in orders %}
            <div class="comment">
                <div class="comment-body">
                    <div class="comment-text">
                        <div class="comment-heading">
                            <a href="#" title="">{{ order.user.humanize }}</a> |  <a href="">{{ order.user.email }}</a> <span class="pull-right">{{ order.dateCreated|ago }}</span>
                        </div>
                        <p><i class="fa fa-map-marker"></i> {{ order.user.fullAddress }}</p>
                        <p><i class="fa fa-bitcoin"></i> Total: <span class="badge badge-info">{{ order.total|price }}</span></p>
                        <div class="row"><p class="pull-right">{{ order.state|state|raw }}</p></div>
                       <ol class="list">
                           {% for detail in order.detail %}
                            <li> {{ detail.line }}</li>
                            {% endfor %}
                       </ol>
                    </div>
                </div> <!-- / .comment-body -->
            </div> <!-- / .comment-body -->
        {% else %}
            <div class="alert alert-danger">
                <i class="fa fa-warning"></i> Aucune commande pour le moment
            </div>
        {% endfor %}

    </div> <!-- / .tab-pane -->
    <div class="tab-pane fade" id="profile-tabs-activity">
        <div class="timeline">
            <!-- Timeline header -->
            <div class="tl-header now">Aujourd'hui</div>

            {% for comment in comments %}
                <div class="tl-entry">
                    <div class="tl-time">
                        {{ comment.dateCreated|date("d/m/Y") }} <br />à {{ comment.dateCreated|date("H:i") }}
                    </div>
                    <div class="tl-icon bg-warning"><i class="fa fa-envelope"></i></div>
                    <div class="panel tl-body">
                        <h4 class="text-warning">{{ comment.product.title }}</h4>
                        <p>{{ comment.content }}</p>
                    </div> <!-- / .tl-body -->
                </div> <!-- / .tl-entry -->
            {% endfor %}



        </div> <!-- / .timeline -->
    </div> <!-- / .tab-pane -->
    <div class="tab-pane fade" id="profile-tabs-followers">

        {% for message in messages %}
            <div class="follower">
                <div class="body">
                    <div class="row">
                    <div class="pull-right">
                        <a href="#" class="btn btn-sm btn-success"><i class="fa fa-check"></i><span>&nbsp;&nbsp;Lu</span></a>
                    </div>
                    </div>
                    <a href="#" class="follower-name">{{ message.user.humanize }}</a><br>
                    <a href="#" class="follower-username">{{ message.user.email }}</a>
                    <h3>{{ message.title }}</h3>
                    <p>{{ message.content|truncate(300,true) }}</p>
                        <span class="label label-default pull-right">{{ message.dateCreated|ago }} <br /> {{ message.dateCreated|date('d/m/Y') }} à {{ message.dateCreated|date('H:i') }}</span>
                    <div class="row"></div>
                </div>
            </div>
        {% else %}
            <div class="alert alert-danger">
                <i class="fa fa-warning"></i> Aucun message pour le moment
            </div>
        {% endfor %}

    </div> <!-- / .tab-pane -->


    <div class="tab-pane fade widget-followers panel-padding in active" id="profile-tabs-following">
        <p class="pull-right alert-warning alert">Modifier {{ app.user.dateUpdated|ago }}</p>
        <h3><i class="fa fa-pencil"></i> Modifier les informations de la boutique</h3>
        <div class="row">
        </div>
            {{ form_start(form) }}
            <div class="alert alert-dark alert-info row">
                <div class="col-md-6">
                    <div>
                        {{ form_row(form.meta.littlemarket) }}
                    </div>
                </div>

                <div class="col-md-6">
                    <div>
                        {{ form_row(form.meta.dawanda) }}
                    </div>
                </div>
                <div class="col-md-6">
                    <div>
                        {{ form_row(form.title) }}
                    </div>
                </div>
                <div class="col-md-3">
                    <div>
                        {{ form_row(form.email) }}
                    </div>
                </div>
                <div class="col-md-3">
                    <div>
                        {{ form_row(form.username) }}
                    </div>
                </div>

                <div class="col-md-2">
                    <div>
                        {{ form_row(form.type) }}
                    </div>
                </div>
                <div class="col-md-4">
                    <div>
                        {{ form_row(form.meta.website) }}
                    </div>
                </div>
                <div class="col-md-6">
                    <div>
                        {{ form_row(form.file) }}
                    </div>
                </div>
            </div>

                <div class="row">
                    <div class="col-md-4">
                        <div>
                            {{ form_row(form.meta.phone) }}
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div>
                            {{ form_row(form.meta.city) }}
                        </div>
                    </div>
                    <div class="col-md-1">
                        <div>
                            {{ form_row(form.meta.zipcode) }}
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div>
                            {{ form_row(form.meta.address) }}
                        </div>
                    </div>
                </div>
                <hr />
                <div class="col-md-12">
                    <div>
                        {{ form_row(form.description) }}
                    </div>
                </div>


                <div class="col-md-6">
                    <div>
                        {{ form_row(form.meta.retour) }}
                    </div>
                </div>
                <div class="col-md-6">
                    <div>
                        {{ form_row(form.meta.propos) }}
                    </div>
                </div>
                <div class="col-md-3">
                    <div>
                        {{ form_row(form.meta.delai) }}
                    </div>
                </div>
                <div class="col-md-9">
                    <div>
                        {{ form_row(form.meta.expedition) }}
                    </div>
                </div>
                <div class="col-md-12">
                    <div>
                        {{ form_row(form.meta.mention) }}
                    </div>
                </div>
                <hr class="clear" />
                <div class="col-md-12">
                    <div>
                        {{ form_row(form.meta.optin) }}

                    </div>
                </div>
            <div class="row"><br /><br /><br /></div>
            <button class="btn btn-lg btn-primary" style="width: 100%">
                <i class="fa fa-save"> Enregistrer mes modifications</i>
            </button>
            {{ form_widget(form._token) }}
        </form>
    </div> <!-- / .tab-pane -->
    </div> <!-- / .tab-content -->
    </div>
    </div>
    </div>


{% endblock %}


