{{ form_start(form) }}

<h3><i class="fa fa-pencil"></i> Information de la page</h3>
<hr />
<div class="row">
    <div class="col-md-7">
        {{ form_row(form.title) }}
    </div>
    <div class="col-md-3">
        {{ form_row(form.file) }}
    </div>
    <div class="col-md-2">
        {{ form_row(form.state) }}
    </div>
</div>



<h3><i class="fa fa-pencil"></i> Description de la page</h3>
<hr />
<div class="row">
    <div class="col-md-12">
        {{ form_row(form.summary) }}
    </div>
    <div class="col-md-12">
        {{ form_row(form.description) }}
    </div>

</div>



<h3><i class="fa fa-pencil"></i> Association de la page</h3>
<hr />
<div class="row">
    <div class="col-md-6">
        {{ form_row(form.product) }}
    </div>
    <div class="col-md-6">
        {{ form_row(form.video) }}
    </div>
</div>



{#{#btn envoyer#}
    {{ form_widget(form.envoyer, {'attr': {'class': 'btn btn-lg btn-primary'}}) }}

{# ATTENTION: token à ne pas oublier #}
    {{ form_widget(form._token) }}

    {# Crée une balise fermante </form>#}
{{ form_end(form, {'render_rest': false}) }}