{% extends "StoreBackendBundle::layout.html.twig" %}


{% block titlepage %}
    <i class="fa fa-pencil"></i> Pages CMS
{% endblock  %}

{% block content %}


<div class="row">
    <div class="btn-group pull-right">
        {#la variable _locale que j'envoi en paramètre dans ma route sera la langue affectée à mon tuilisateur  #}
        <a href="{{ path('store_backend_cms_list', {'_locale': 'en'}) }}"
           class="btn btn-primary btn-outline {% if  app.request.get('_locale') == 'en' %} active {% endif %}">Anglais</a>

        <a href="{{ path('store_backend_cms_list', {'_locale': 'fr'}) }}"
           class="btn btn-primary btn-outline {% if  app.request.get('_locale') == 'fr' %} active {% endif %}">Français</a>
    </div>
</div>

<br />


<div class="row">
    <a href="{{ path('store_backend_cms_new') }}" class=" pull-right btn btn-success btn-lg">
        <i class="fa fa-plus"></i> {{ "cms.list.add"|trans }}
    </a>
</div>


<hr />

<div class="alert alert-info alert-dark">
    {{  "cms.list.nb"|transchoice(cms|length) }}
</div>

{% if  cms is not empty %}
<table class="table table-bordered table-primary">
    <thead>
        <th>Id</th>
        <th>{{ "cms.list.table.title"|trans }}</th>
        <th>{{ "cms.list.table.summary"|trans }}</th>
        <th>{{ "cms.list.table.state"|trans }}</th>
        <th>{{ "cms.list.table.active"|trans }}</th>
        <th>{{ "cms.list.table.nb"|trans }}</th>
        <th>{{ "cms.list.table.actions"|trans }}</th>
    </thead>
    <tbody>

    {% for page in cms %}

        <tr>
            <td>{{ page.id }}</td>
            <td><a href="{{ path('store_backend_cms_view', {"id" : page.id, "name" : page.title}) }}">{{ page.title }}</a></td>
            <td>{{ page.summary }}</td>
            <td>
                {% if page.state == 2 %}
                    <a href="{{ path('store_backend_cms_state', {"id" : page.id, "action": 2 }) }}" class="btn btn-success disabled">Lu</a>
                    <a href="{{ path('store_backend_cms_state', {"id" : page.id, "action": 1 }) }}" class="btn btn-primary">En cours de lecture</a>
                    <a href="{{ path('store_backend_cms_state', {"id" : page.id, "action": 0 }) }}" class="btn btn-danger">Non lu</a>
                {% elseif page.state == 1 %}
                    <a href="{{ path('store_backend_cms_state', {"id" : page.id, "action": 2 }) }}" class="btn btn-success">Lu</a>
                    <a href="{{ path('store_backend_cms_state', {"id" : page.id, "action": 1 }) }}" class="btn btn-primary disabled">En cours de lecture</a>
                    <a href="{{ path('store_backend_cms_state', {"id" : page.id, "action": 0 }) }}" class="btn btn-danger">Non lu</a>
                {% else %}
                    <a href="{{ path('store_backend_cms_state', {"id" : page.id, "action": 2 }) }}" class="btn btn-success">Lu</a>
                    <a href="{{ path('store_backend_cms_state', {"id" : page.id, "action": 1 }) }}" class="btn btn-primary">En cours de lecture</a>
                    <a href="{{ path('store_backend_cms_state', {"id" : page.id, "action": 0 }) }}" class="btn btn-danger disabled">Non lu</a>

                {% endif %}
            </td>
            <td>
                {% if page.active == 1 %}
                    <a href="{{ path('store_backend_cms_activate', {'id': page.id, 'action' : 0}) }}" >
                        <i class="fa fa-check"></i>
                    </a>
                {% else %}
                    <a href="{{ path('store_backend_cms_activate', {'id': page.id, 'action' : 1}) }}" >
                        <i class="fa fa-times"></i>
                    </a>
                {% endif %}
            </td>
            <td><i class="badge badge-info">{{ page.product|length }}</i>  produits associés</td>
            <td>
                <div class="btn-group">
                    <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown"><i class="fa fa-cogs"></i> Actions&nbsp;<i class="fa fa-caret-down"></i></button>
                    <ul class="dropdown-menu">
                        <li><a href="#"><i class="fa fa-search"></i> {{ "cms.list.see"|trans }}</a></li>
                        <li><a href="{{ path('store_backend_cms_edit', {'id': page.id}) }}"><i class="fa fa-pencil"></i> {{ "cms.list.edit"|trans }}</a></li>
                        <li><a href="{{ path('store_backend_cms_remove', {'id' : page.id}) }}"><i class="fa fa-times"></i> {{ "cms.list.remove"|trans }}</a></li>
                    </ul>
                </div>
            </td>
        </tr>

    {% endfor %}
    </tbody>
    </table>

{% else %}
    <div class="alert alert-danger alert-dark">
        <strong>Attention</strong> Aucun résultat de trouvé
    </div>
{% endif %}

    <div class="navigation">
        {{ knp_pagination_render(cms) }}
    </div>


{% endblock %}


