{% extends "StoreBackendBundle::layout.html.twig" %}


{% block titlepage %}
    <i class="fa  fa-building-o"></i> Une page CMS
{% endblock  %}

{% block content %}
    <h3>{{ cms.title }}</h3>
    <p><i>{{ cms.summary}}</i></p>
    <p>{{ cms.description }}</p>
    <p>{{ cms.image }}</p>
    <p>{{ cms.dateActive|date('d/m/Y') }}</p>
{% endblock %}

