{% block main_navigation %}

    <!-- 2. $MAIN_NAVIGATION ===========================================================================

        Main navigation
    -->
    <div id="main-navbar" class="navbar navbar-inverse" role="navigation">
    <!-- Main menu toggle -->
    <button type="button" id="main-menu-toggle"><i class="navbar-icon fa fa-bars icon"></i><span class="hide-menu-text">CACHER MENU</span></button>

    <div class="navbar-inner">
    <!-- Main navbar header -->
    <div class="navbar-header">

        <!-- Logo -->
        <a href="index.html" class="navbar-brand">
            Marché du <strong>Bijoux</strong>
        </a>

        <!-- Main navbar toggle -->
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#main-navbar-collapse"><i class="navbar-icon fa fa-bars"></i></button>

    </div> <!-- / .navbar-header -->

    <div id="main-navbar-collapse" class="collapse navbar-collapse main-navbar-collapse">
    <div>
    <ul class="nav navbar-nav">
        <li id="menu_home" class="{% if app.request.attributes.get('_route') == "store_backend_index" %} active {% endif %}">
            <a href="{{ path('store_backend_index') }}"><i class="fa fa-home"></i> Home</a>
        </li>
        <li id="menu_boutique" class="{% if app.request.attributes.get('_route') == "store_backend_jeweler_myaccount" %} active {% endif %}">
            <a href="{{ path('store_backend_jeweler_myaccount') }}"><i class="fa fa-user"></i> Ma Boutique</a>
        </li>
        <li  id="menu_bijoux" class="{% if app.request.attributes.get('_route') == "store_backend_product_list" %} active {% endif %}">
            <a href="{{ path('store_backend_product_list') }}"><i class="fa fa-th"></i> Bijoux</a>
        </li>
        <li  id="menu_categories" class="{% if app.request.attributes.get('_route') == "store_backend_category_list" %} active {% endif %}">
            <a href="{{ path('store_backend_category_list') }}"><i class="fa fa-list-ul"></i> Categories</a>
        </li>
        <li  id="menu_commandes" class="{% if app.request.attributes.get('_route') == "store_backend_order_list" %} active {% endif %}">
            <a href="{{ path('store_backend_order_list') }}"><i class="fa fa-shopping-cart"></i> Commandes</a>
        </li>
        <li  id="menu_pages" class="{% if app.request.attributes.get('_route') == "store_backend_cms_list" %} active {% endif %}">
            <a href="{{ path('store_backend_cms_list') }}"><i class="fa fa-pencil"></i> Pages</a>
        </li>
        <li  id="menu_fournisseurs" class="{% if app.request.attributes.get('_route') == "store_backend_supplier_list" %} active {% endif %}">
            <a href="{{ path('store_backend_supplier_list') }}"><i class="fa fa-truck"></i> Fournisseurs</a>
        </li>
        <li  id="menu_slider" class="{% if app.request.attributes.get('_route') == "store_backend_slider_list" %} active {% endif %}">
            <a href="{{ path('store_backend_slider_list') }}"><i class="fa fa-video-camera"></i> Slider</a>
        </li>
    </ul> <!-- / .navbar-nav -->

    <div class="right clearfix">
    <ul class="nav navbar-nav pull-right right-navbar-nav">

        <li class="nav-icon-btn nav-icon-btn-danger dropdown">
            <a href="#notifications" class="dropdown-toggle" data-toggle="dropdown">
                <span class="label">{{ app.session.get('product')|length }}</span>
                <i class="nav-icon fa fa-bullhorn"></i>
                <span class="small-screen-text">Notifications</span>
            </a>

            <!-- Javascript -->
            <script>
                init.push(function () {
                    $('#main-navbar-notifications').slimScroll({ height: 250 });
                });
            </script>
            <!-- / Javascript -->

            <div class="dropdown-menu widget-notifications no-padding" style="width: 300px">
                    <div class="notifications-list" id="main-navbar-notifications" style="overflow: hidden; width: auto; height: 250px;">

                        {% if app.session.get('product') is not empty %}
                            {% for alert in  app.session.get('product') %}
                                <div class="notification">
                                    <div class="notification-title text-{{ alert.criticity }}">Produit</div>
                                    <div class="notification-description">{{ alert.message }}</div>
                                    <div class="notification-ago">{{ alert.date|date('d/m/Y') }}</div>
                                    <div class="notification-icon fa fa-warning bg-{{ alert.criticity }}"></div>
                                </div>
                            {% else %}
                                <div class="alert alert-block alert-warning">
                                    Vous avez aucune notification
                                </div>
                            {% endfor %}
                        {% endif %}


                    </div>
            </div> <!-- / .dropdown-menu -->
        </li>


    {# Inclure mes messages depuis le controlleur#}
    {# render() va appeler le controlleur Layout et son action mymessages  #}
    {# A la différence de include qui va inclure une vue statique,
      render() va appeler dynamiquement un controlleur et une action de controlleur
     #}
    {{ render(controller('StoreBackendBundle:Layout:mymessages')) }}

    {{ render(controller('StoreBackendBundle:Layout:myorders')) }}

    <li class="dropdown">
        <a href="#" class="dropdown-toggle user-menu" data-toggle="dropdown">
        {% if app.user.image is not empty %}
            <img src="{{ app.user.image }}" alt="">
        {% endif %}

            <span>{{ app.user.username }}</span>
        </a>
        <ul class="dropdown-menu">
            <li><a href="{{ path('store_backend_jeweler_myaccount') }}"><i class="dropdown-icon fa fa-user"></i>&nbsp;&nbsp;Ma Boutique</a></li>
            <li><a href="{{ path('store_backend_jeweler_mymessages') }}"><i class="dropdown-icon fa fa-envelope"></i>&nbsp;&nbsp;Mes Messages</a></li>
            <li><a href="{{ path('store_backend_jeweler_myparameters') }}"><i class="dropdown-icon fa fa-gears"></i>&nbsp;&nbsp;Mes Paramètres</a></li>
            <li class="divider"></li>
            <li><a href="{{ path('store_backend_security_logout') }}"><i class="dropdown-icon fa fa-power-off"></i>&nbsp;&nbsp;Log Out</a></li>
        </ul>
    </li>
    </ul> <!-- / .navbar-nav -->
    </div> <!-- / .right -->
    </div>
    </div> <!-- / #main-navbar-collapse -->
    </div> <!-- / .navbar-inner -->
    </div> <!-- / #main-navbar -->
    <!-- /2. $END_MAIN_NAVIGATION -->
{% endblock  %}